# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# other folders
/UI-UX-assets

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
UX-UX-assets/ARS Hourly Fees Nov 2022- Mar 2023.pdf.pdf
UX-UX-assets/Looking Forward Class Cancellation Policy 2022.pdf
UX-UX-assets/Looking Forward Oferta Académica 2022- 2023.pdf
UX-UX-assets/Welcome, Magui!.pdf
